<mat-sidenav-container>
  <mat-toolbar class="toolbar-container" color="primary">
    <button mat-button aria-label="Filter"
            matTooltip="Change Filters" matTooltipPosition="below"
            (click)="openFiltersDialog()">
      Filters
      <mat-icon>filter_list</mat-icon>
    </button>

    <span class="spacer"></span>

    <button mat-button aria-label="Login"
            matTooltip="Login" matTooltipPosition="below">
      Login
      <mat-icon>login</mat-icon>
    </button>
  </mat-toolbar>
</mat-sidenav-container>
