.spacer
{
  flex: 1 1 auto;
}

.toolbar-container
{
  position: inherit;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: #151515;
}

.button:hover
{
  background-color: #262626;
}
