<section class="example-section">
  <span class="example-list-section">
    <mat-checkbox class="example-margin"
                  [checked]="allVisible"
                  [color]="color"
                  [indeterminate]="someComplete()"
                  (change)="setAll($event.checked)">
      {{ name }}
    </mat-checkbox>
  </span>
  <span class="example-list-section">
    <ul>
      <li *ngFor="let filter of filters">
        <mat-checkbox [(ngModel)]="filter.visible"
                      [color]="filter.color"
                      (ngModelChange)="updateAllComplete()"
                      (change)="onChange(filter, $event.checked)">
          <img *ngIf="filter.icon" src="{{ filter.icon }}" class="filterIcon" alt="">
          {{ filter.name }}
        </mat-checkbox>
      </li>
    </ul>
  </span>
</section>
