<h1 mat-dialog-title>Filters</h1>

<mat-dialog-content class="filters">
  <app-filter class="filterRow" name="Vehicles" [filters]="this.markersService.vehicleFilters" [iconClass]="'vehicleFilterIcon'"></app-filter>
  <app-filter class="filterRow" name="Loot" [filters]="this.markersService.lootFilters" [iconClass]="'lootFilterIcon'"></app-filter>
  <app-filter class="filterRow" name="Locations" [filters]="this.markersService.locationFilters" [iconClass]="'locationsFilterIcon'"></app-filter>
  <app-filter class="filterRow" name="Areas" [filters]="this.markersService.areaFilters" [iconClass]="'areaFilterIcon'"></app-filter>
</mat-dialog-content>

<div mat-dialog-actions class="buttons">
  <button mat-button [mat-dialog-close]="" cdkFocusInitial>Accept</button>
</div>
