.example-section
{
  margin: 12px 0;
}

.example-margin
{
  margin: 0 12px;
}

.vehicleFilterIcon
{
  height: 20px;
  width: 20px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  border-color: rgba(38, 38, 38, 1);
}

.lootFilterIcon
{
  height: 14px;
  width: 14px;
  border-radius: 5px;
  border-color: rgba(38, 38, 38, 1);
}

ul
{
  list-style-type: none;
  margin-top: 4px;
}
