p
{
  font-family: Lato;
}

.toolbar
{
  position: absolute;
  top: 0;
  left: 0;
  height: 5%;
  width: 100%;
  z-index: 10;
}

.map
{
  width: 100%;
  height: 95%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
}
