/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

/* TODO: why do these need to be in global css? */
.mapMarkerTooltip
{
  background: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  color: #fff;
  left: 50%;
  padding: 2px;
  position: absolute;
  text-align: center;
  z-index: 10;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.vehicleMarker
{
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  border-color: rgba(38, 38, 38, 1);
}

.locationMarker
{
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-optical-sizing: auto;
  font-size-adjust: none;
  font-stretch: 100%;
  font-style: normal;
  font-variant: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-variation-settings: normal;
  font-weight: bold;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
